.popup__heading {
  box-sizing: border-box;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 49px;

}

@media screen and (max-width: 600px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
