.popup__span{
  visibility: hidden;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  border-bottom-color: #FF0000;
  max-width: 358px;
  min-height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
  
}



@media screen and (max-width: 600px) {
  .popup__span {
    max-width: 238px;
    

  }
}



