.user__text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


@media screen and (max-width: 898px) {
  .user__text {
     justify-content: normal;
     gap: 10px;
     padding-left: 46px;
  }
}
