.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
  max-width: 430px;
  min-height: 330px;
  width: 100%;
  box-sizing: border-box;
}


@media screen and (max-width: 600px) {
  .popup__container {
   padding: 25px 22px;
   max-width: 282px;
   min-height: 322px;
  }
}
