.header__logo {
  background-image: url(../../../images/logo.svg);
  min-width: 142px;
  min-height: 33px;
  background-repeat: no-repeat;
  margin-top: 45px;
  align-self: normal;
  margin-bottom: 41px;
  background-size:contain;
}

@media screen and (max-width: 898px) {
  .header__logo {
   margin-left: 27px;
   margin-top: 28px;
   min-width: 103px;
   min-height: 24px;
   margin-bottom: 31px;
  }
}
