.new-card__input {
  border-style: none;
  border-bottom: 1px solid rgb(0,0,0, 0.2);
  max-width: 358px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.new-card__input::placeholder {
  color: #C4C4C4;
}

.new-card__input:nth-child(2) {
  margin-top: 26px;
}