.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 318px;
  margin-bottom: 60px;
  margin-top: 47px;

}



@media screen and (max-width: 898px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    margin-top: 48px;


  }
}
