/* импорт глобальных стилей и шрифта*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* импорт стилей body-root */
@import url(../blocks/body-root/body-root.css);

/* импорт стилей header */
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/header.css);

/* импорт стилей content */
@import url(../blocks/content/content.css);

/* импорт стилей user */
@import url(../blocks/user/__button/user__button.css);
@import url(../blocks/user/__avatar/user__avatar.css);
@import url(../blocks/user/__edit-profile/user__edit-profile.css);
@import url(../blocks/user/__info/user__info.css);
@import url(../blocks/user/__owner/user__owner.css);
@import url(../blocks/user/__profession/user__profession.css);
@import url(../blocks/user/__profile/user__profile.css);
@import url(../blocks/user/__text/user__text.css);
@import url(../blocks/user/__title/user__title.css);
@import url(../blocks/user/user.css);
@import url(../blocks/user/__avatar-overlay/user__avatar-overlay.css);
@import url(../blocks/user/__edit_avatar/user__edit-avatar.css);

/* импорт стилей cards */
@import url(../blocks/cards/__container/cards__container.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__item-heading/cards__item-heading.css);
@import url(../blocks/cards/__item-like/cards__item-like.css);
@import url(../blocks/cards/__item-picture/cards__item-picture.css);
@import url(../blocks/cards/__item-wrapper/cards__item-wrapper.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__remover/cards__remover.css);
@import url(../blocks/cards/__item-like/_active/cards__item-like_active.css);
@import url(../blocks/cards/__like-count/cards__like-count.css);
@import url(../blocks/cards/__like-wrapper/cards__like-wrapper.css);

/* импорт стилей footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* импорт стилей popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__span/popup__span.css);
@import url(../blocks/popup/__button-save/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__input/_error/popup__input_error_active.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);


/* импорт стилей popup аватара */
@import url(../blocks/user-avatar/__container/user-avatar__container.css);

/* импорт стилей popup удаления карточки */
@import url(../blocks/delete-card/__container/delete-card__container.css);
@import url(../blocks/delete-card/__heading/delete-card__heading.css);
@import url(../blocks/delete-card/__button-dell/delete-card__button-dell.css);


/* импорт стилей предпросмотра изображений */
@import url(../blocks/preview-card/__caption/preview-card__caption.css);
@import url(../blocks/preview-card/__field/preview-card__field.css);
@import url(../blocks/preview-card/__picture/preview-card__picture.css);

/*Импорт стиля маски для бекграунда*/
@import url(../blocks/background-mask/background-mask.css);
