.cards__item-like {
  max-width: 20px;
  height: 18px;
  background-image: url(../../../images/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: transparent;
  border-style:none;
  outline: none;
  padding: 0;
}

.cards__item-like:hover {
  opacity: .8;
  cursor: pointer;
}

.cards__item-like:active {
  background-image: url(../../../images/heart_lkd.svg);
}