.popup__button-close {
  position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -32px;
  }
}
