.user__edit-avatar {
background: none;
position: absolute;
padding: 0;
border: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
cursor: pointer;
transition: background-color .2s ease;
}

.user__edit-avatar:hover,
.user__edit-avatar:focus {
  background-image: url(../../../images/avataredit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,.8);
}