.popup__input {
  border-style: none;
  border-bottom: 1px solid rgb(0,0,0, 0.2);
  max-width: 358px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 8px;

}

.popup__input:nth-child(2) {
  margin: 26px 0 0;
}
