.user__button {
  background-image: url(../../../images/edit_plus.svg);
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.user__button:hover {
  opacity: .6;
}

@media screen and (max-width: 898px) {
  .user__button {
    width: 282px;
    margin-top: 36px;
  }
}
