.popup__button_disabled {
  border: 1px solid #000000;
  box-sizing: border-box;
  opacity: .2;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 358px;
  height: 50px;

  padding: 0;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 43px;

}

@media screen and (max-width: 600px) {
  .popup__button_disabled {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 42px;

  }
}



