.popup__field {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
}



@media screen and (max-width: 600px) {
  .popup__field {
   padding: 25px 22px;
  }
}
